/**************************************    style.css    ***********************************************
*    Programmer:     Joel Godinez
*   
*   Purpose:        Develop a resume website to showcase projects using Tailwind CSS and vanilla JavaScript
*
*    Environment:    MacOS with Live Server extension
*
*    Files included: index.html, style.css, script.js
*
*    New proposed pallete: /* SCSS RGB */
/* $honeydew: rgba(241, 255, 231, 1);
$mint-green: rgba(169, 253, 172, 1);
$emerald: rgba(68, 207, 108, 1);
$zomp: rgba(50, 162, 135, 1);
$eggplant: rgba(108, 70, 78, 1); 
*
*    Estimates                Actuals
*     Design: 2 hours          2.5 hours
*     Implementation: 3 hours  4 hours(so far)
*     Testing:        2 hours  1 hour(so far)
*
******************************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

/* define root scope */
:root{
    /* define cstom properties (css variables) */
    --primarycolor:  rgba(50, 179, 179, .8);
    --secondarycolor:  rgba(	255, 221, 74,1);
    --darkcolor:  rgba(46, 49, 49, 1);
    --lightcolor:  rgba(50, 179, 179, .8);
     /* pantone blue: rgba(63,67,138,255) */
    
}

/* create a universal reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* troubleshooting styling */
/* *{
    outline: 1px solid red;
} */

html{
    scroll-behavior: smooth;
    height: 100%;
    box-sizing: border-box;
    /*background-color: lightgrey;*/
}

body{
    font-family: 'Lato', sans-serif;
    color: var(--darkcolor);
    /* spread elements out */
    line-height: 1.6;
    background-image: url('../img/mountain-white-1.jpg');
    background-position: center;
    background-attachment: fixed;
}

#wrapper section > .content {
    grid-area: content;
    max-width: 60rem;
    position: relative;
}
/* #wrapper > section > .content > section {
    position: relative;
} */
    /* #wrapper > section > .content > section:first-child {
        margin-top: 6rem;
    } */
/*  yes*/
#wrapper section > .content {
    padding: 0 5rem;
    margin: 0 auto;
}
/* #wrapper > section > .content > section {
left: calc(-50vw - 5rem);
} */

/*  yes*/
body, input, select, textarea {
color: var(--darkcolor);
font-family: "Lato", Helvetica, sans-serif;
font-size: 1rem;
font-weight: 300;
letter-spacing: 0.0375em;
line-height: 2;
}

/* remove bullet points */
ul{
    list-style-type: none;
}

/* remove underline in all links */
a{
    text-decoration: none;
    color: rgb(40,40,40);
}

.aboutme h2{
    font-size: 2vw;
    font-weight: 700;
    line-height: 1.2;
    margin: 10px 0;
    letter-spacing: .3rem;
}
p{
    font-size: 1vw;
    margin: 10px 0;
    letter-spacing: .06rem;
    line-height: 2rem;
}

img{
    /* keep images within their container */
    width: 100%;
}


/* style the navbar */
.navbar{
    background-color: rgb(1,137,137);
    color: (241, 255, 231, 1);
    height: auto;
}

/* Adjust the nav which has unwanted scroll bar */


/* .topsection {
    height: 100%;
} */
.navbar h1{
    color:rgb(222,242,241);
}
/* enable links to display horizontaly */
.navbar ul{
    display: flex;
}
/* add spacing between links in .navbar */
.navbar a{
    color:rgb(222,242,241);
    padding: 10px;
    margin: 0 5px;
    font-size: 1.5rem;
}

/* add a hover effect on links in navbar */
.navbar a:hover{
    border-bottom: 3px rgba(169, 253, 172, 1) solid;
}
/* About Me ****************************************/
.aboutme{
    height: 700px;
    background-color: var(--primarycolor);
    color:rgb(222,242,241);
    position: relative;

}
.aboutme h1{
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.2;
    margin: 10px 0;
    /* font-size: 3rem; */
}

.aboutme .aboutmetext .aboutmeblurb{
    max-width: 600px;
    font-size: 1.5rem;
  }

.profileimg{
    border-radius: 25px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.3);
}

.aboutme p{
    margin: 20px 0;
    font-size: 2.5rem;
}

.aboutme .grid{
    grid-template-columns: 55% 45%;
    gap: 30px;

}

/* add slant effect below aboutme section */
.aboutme::before,
.aboutme::after{
    /* NOTE: content is required for pseudo elements sudch as ::before */
    content:'';
    position: absolute;
    height: 100px;
    bottom: -90px;
    right: 0;
    left: 0;
    background:rgba(255, 255, 255, 1);
    transform: skewY(-2deg);
    
    /* add prefix versions of the above for compatibility w/ other browsers */
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    
}
/* Skills************************************************* */
.skills {
    padding-top: 120px;
}

.skills .skillsheading{
    font-size: 2rem;
    font-weight: bold;
}


/* projects */
.projects .projectsheading {
    font-size: 2rem;
    font-weight: bold;
}

.projects .grid span{
    font-size: 1.5rem;
    font-weight: bold;
}

/* center the footer paragraph */
footer p{
    /* max-width: 500px; */
    float: left;
    width: 100%;
    text-align: center;
}


.projectcard{
  position: relative;
  overflow: hidden;
  margin: 2rem;
  min-width: 10rem;
  max-width: 100rem;
  width: 100%;
  text-align: center;
  background-color: rgba(222,242,241,.5);
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.projectcard *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

footer.grid-2 {
    border-top: 1px solid rgba(0, 0, 0, 0.065);
    /* padding: 0 0; */
    font-size: 1rem;
    line-height: 3rem;
    text-align: left;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color:var(--darkcolor);
}

.projectcard img{
    max-width: 100%;
    vertical-align: top;
    position: relative;
}

  .tech{
      float: left;
  }
  
  .team{
      float:right;
    }
/* contact form */
/* .contactsection{
    margin: 0;
    padding: 0;
    height: 100vh;
} */

/* #contact{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primarycolor);
    overflow: hidden;
} */

.letsbuildheader{
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    color:rgb(23, 37, 255);
}

    .contactwrapper{
        margin: 0 auto;
        padding-top: 20px;
        position: relative;
        max-width: 800px;
    }

    /* .letsbuildheader{
        text-align: center;
        margin: 0 auto;
        padding: 40px 0;
        letter-spacing: 2px;
    } */
 .formhorizontal{
     display: flex;
     justify-content: center;
     align-content: center;
     max-width: 800px;
 }
    .formcontrol, textarea{
      max-width: 800px;
      background-color: rgb(253, 253, 252);
      color: var(--darkcolor);
      letter-spacing: 1px;
    }

    form > div > input {
        outline: red;
    }

    .sendbtn{
        margin-top: 15px;
        height: 34px;
        width: 400px;
        overflow: hidden;
        text-align: center;
        /* transition: all .2s ease-in-out; */
    }

    .btn{
        width: 400px;
        height: 34px;
        transition: all .2s ease-in-out;
    }

    .sendtext{
        display: block;
        margin-top: 10px;
        font: 700 12px 'Lato', sans-serif;
        letter-spacing: 2px;
    }

    /* .btn:hover{
        transform: translate3d(0px, -40px, 0px);
    } */


  










    
    
    /* .tech .team{
        display: flex;
    } */
/*     
    .contactform{
        position: relative; */
        /* top: 60px; */
        /* height: 100%; */
        /* width: 400px;
        padding: 40px;
        z-index: 100;
        justify-self: flex-end;
        justify-content: center;
    } */
    /* center the contact form horizontally */
    /* .center .contactform{
        margin: auto;
    } */
    /* add spacing between the form elements */
    /* .contactform .formcontrol{
      margin: 30px;
      
    } */

    
    /* target the input elements */
    /* .contactform input[type='text'],
    .contactform input[type='email'] {
        border: 0;
        border-bottom: 1px solid rgb(180, 190, 203); */
        /* extend the form inputs across the card */
        /* width: 100%;
        padding: 3px;
        font-size: 1rem;
    } */
    
    /* remove border when clicking an input */
    /* .contactform input:focus{
        outline: none;
    } */
    
    /* .contactform h2{
        font-size: 2vw;
        font-weight: 700;
        line-height: 1.2;
        margin: 10px 0;
        letter-spacing: .3rem;
        text-align: center;
        justify-content: center;
    } */
    
    /* .contactform textarea{ */
        /* remove outline on click event */
        /* outline: none; */
        /* disable resize function */
        /* resize: none; */
        /* justify-content: center; */
        /* remove default scrolls in IE */
        /* overflow: auto; */
        /* width: 100%; */
        /* Safari/Chrome webkit */
        /* -webkit-box-sizing: border-box; */
        /* Firefox, other Gecko */
        /* -moz-box-sizing: border-box; */
        /* Opera/IE 8+ */
        /* box-sizing: border-box; */
    /* } */

    /* .sendbtn {
        height: 3em;
        width: 100%;
        color:rgb(180, 190, 203);
        box-sizing: border-box;
    }

    .sendbtn:hover {
        background: rgb(180, 190, 203);
        color:rgba(169, 253, 172, 1);
        border: 1px solid black;
        box-sizing: border-box;
        box-shadow: inset 5rem 0 0 5rem pink;
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;  
    } */


    /* ****************************************************************************************** */



    /* webkit */
	::-webkit-input-placeholder {
		opacity: 1.0;
		color: var(--darkcolor) !important;
	}

	:-moz-placeholder {
		opacity: 1.0;
		color: var(--darkcolor) !important;
	}

	::-moz-placeholder {
		opacity: 1.0;
		color: var(--darkcolor) !important;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
		color: var(--darkcolor) !important;
	}

/* add responsive wrap to projects */

.projects .flex{
    flex-wrap: wrap;
}


/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
    background-color: transparent;
    border-radius: 0.325rem;
    border: 0;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: var(--darkcolor) !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 0.6rem;
    font-weight: 600;
    height: 3rem;
    letter-spacing: 0.175em;
    line-height: 3rem;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .btn:hover {
        box-shadow: inset 0 0 0 2px var(--primarycolor);
        color: var(--secondarycolor) !important;
    }

    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active,
    button:active,
    .btn:active {
        background-color: rgba(73, 252, 212, 0.25);
        box-shadow: inset 0 0 0 2px var(--secondarycolor);
        color: var(--secondarycolor) !important;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    button.small,
    .btn.small {
        font-size: 0.5rem;
        height: 2.25rem;
        line-height: 2.25rem;
        padding: 0 1.25rem;
    }

    input[type="submit"].large,
    input[type="reset"].large,
    input[type="button"].large,
    button.large,
    .btn.large {
        font-size: 0.7rem;
        height: 3.2625rem;
        line-height: 3.2625rem;
        padding: 0 3.25rem;
    }

    input[type="submit"].wide,
    input[type="reset"].wide,
    input[type="button"].wide,
    button.wide,
    .btn.wide {
        min-width: 13rem;
    }

    input[type="submit"].icon:before,
    input[type="reset"].icon:before,
    input[type="button"].icon:before,
    button.icon:before,
    .btn.icon:before {
        margin-right: 0.5rem;
    }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    button.fit,
    .btn.fit {
        width: 100%;
    }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    button.disabled,
    button:disabled,
    .btn.disabled,
    .btn:disabled {
        pointer-events: none;
        opacity: 0.25;
    }

    input[type="submit"].primary,
    input[type="reset"].primary,
    input[type="button"].primary,
    button.primary,
    .btn.primary {
        background-color: var(--secondarycolor);
        box-shadow: none;
        color: #000000 !important;
    }

        input[type="submit"].primary:hover,
        input[type="reset"].primary:hover,
        input[type="button"].primary:hover,
        button.primary:hover,
        .btn.primary:hover {
            background-color: rgb(222,242,241);
        }

        input[type="submit"].primary:active,
        input[type="reset"].primary:active,
        input[type="button"].primary:active,
        button.primary:active,
        .btn.primary:active {
            background-color: var(--secondarycolor);
        }

/* Form yes*/

form {
    margin: 0 0 2rem 0;
}

    form > :last-child {
        margin-bottom: 0;
    }

    form > .fields {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: -2rem 0 2rem -2rem;
        width: calc(100% + 4rem);
    }

        form > .fields > .field {
            -moz-flex-grow: 0;
            -webkit-flex-grow: 0;
            -ms-flex-grow: 0;
            flex-grow: 0;
            -moz-flex-shrink: 0;
            -webkit-flex-shrink: 0;
            -ms-flex-shrink: 0;
            flex-shrink: 0;
            padding: 2rem 0 0 2rem;
            width: calc(100% - 2rem);
        }

            form > .fields > .field > :last-child {
                margin-bottom: 0;
            }

            form > .fields > .field.half {
                width: calc(50% - 1rem);
            }

            form > .fields > .field.third {
                width: calc(100%/3 - 0.66667rem);
            }

            form > .fields > .field.quarter {
                width: calc(25% - 0.5rem);
            }

            /* tablet and smaller */
    @media (max-width: 768px) {
        .grid,
        .aboutme .grid,
        .skills .grid, 
        .projects .grid
         {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
        }
        form > .fields {
            margin: -1.5rem 0 2rem -1.5rem;
            width: calc(100% + 3rem);
        }

            form > .fields > .field {
                padding: 1.5rem 0 0 1.5rem;
                width: calc(100% - 1.5rem);
            }

                form > .fields > .field.half {
                    width: calc(100% - 1.5rem);
                }

                form > .fields > .field.third {
                    width: calc(100% - 1.5rem);
                }

                form > .fields > .field.quarter {
                    width: calc(100% - 1.5rem);
                }

    }

    /* mbile */
@media(max-width: 500px) {
    .navbar {
        height: 110px;
        }

        .navbar .flex {
            flex-direction: column;
        }

        .navbar ul {
            padding: 10px;
            background-color: rgba(0,0,0,0.1);
        }
}
/* form inputs */


    input[type="text"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    input[type="tel"]:invalid,
    input[type="search"]:invalid,
    input[type="url"]:invalid,
    select:invalid,
    textarea:invalid {
        box-shadow: none;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    input[type="search"]:focus,
    input[type="url"]:focus,
    select:focus,
    textarea:focus {
        border-color: var(--secondarycolor);
    }



input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"] {
    height: 3rem;
width: 5rem;
}

/* textarea */
    input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 0.325rem;
		border: solid 2px rgba(144, 144, 144, 0.25);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1rem;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		input[type="search"]:invalid,
		input[type="url"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		input[type="search"]:focus,
		input[type="url"]:focus,
		select:focus,
		textarea:focus {
			border-color: var(--primarycolor);
		}

	textarea {
	padding: 0.75rem 1rem;
    resize: none;
	}

    #sendmessage{
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: 400px;
    }

    /* footer */
    .footer .social a{
        margin: 0 10px;
    }

    .footercontent {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
        padding: 10px 0;
    }

    .footerspan {
        width: 200px;
        height: 50px;

    }

    .footersection {
        padding-top: 5vh;
        background-color:  var(--primarycolor);
        height: 100px;
    }

    footer.footer {
        background-color: var(--primarycolor);
        color:var(--darkcolor);
        padding: 1rem;
        margin-top: 9rem;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    footer ul {
        display: table-cell;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        width: 100%;
        vertical-align: middle;

    }