/**************************************    style.css    ***********************************************
*    Programmer:     Joel Godinez
*   
*   Purpose:        Develop a resume website to showcase projects using Tailwind CSS and vanilla JavaScript
*
*    Environment:    MacOS with Live Server extension
*
*    Files included: index.html, style.css, script.js
*
*    Estimates                Actuals
*     Design: 2 hours          2.5 hours
*     Implementation: 3 hours  4 hours(so far)
*     Testing:        2 hours  1 hour(so far)
*
******************************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

/* define root scope */
:root{
    /* define cstom properties (css variables) */
    --primarycolor:  rgb(0, 179, 179);
     /* pantone blue: rgba(63,67,138,255) */
}

/* create a universal reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    height: 100%;
    box-sizing: border-box;
    /*background-color: lightgrey;*/
}

body{
    font-family: 'Lato', sans-serif;
    color: rgb(40,40,40);
    /* spread elements out */
    line-height: 1.6;
}

/* remove bullet points */
ul{
    list-style-type: none;
}

/* remove underline in all links */
a{
    text-decoration: none;
    color: rgb(40,40,40);
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;
}

img{
    /* keep images within their container */
    width: 100%;
}

body{
    background-image: url('../img/mountain-white-1.jpg');
    background-position: center;
    background-attachment: fixed;
}
/* style the navbar */
.navbar{
    background-color: rgb(1,137,137);
    color: rgb(255, 255 , 255);
    height: 80px;
}

/* enable links to display horizontaly */
.navbar ul{
    display: flex;
}
/* add spacing between links in .navbar */
.navbar a{
    color:rgb(255, 255 , 255);
    padding: 10px;
    margin: 0 5px;
}

/* add a hover effect on links in navbar */
.navbar a:hover{
    border-bottom: 3px rgb(255, 255 , 255) solid;
}
/* About Me ****************************************/
.aboutme{
    height: 700px;
    background-color: var(--primarycolor);
    color:rgb(255, 255 , 255);
    position: relative;

}

.aboutme .aboutmetext .aboutmeblurb{
    max-width: 600px;
    font-size: 1.5rem;
  }

.imgprofile{
    border-radius: 50px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.3);
}

.aboutme h1{
    font-size: 3rem;
}

.aboutme p{
    margin: 20px 0;
    font-size: 2.5rem;
}

.aboutme .grid{
    grid-template-columns: 55% 45%;
    gap: 30px;

}
.contactform{
    position: relative;
    /* top: 60px; */
    height: 100%;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;

}
/* add spacing between the form elements */
.contactform .formcontrol{
  margin: 30px;
}

/* target the input elements */
.contactform input[type='text'],
.contactform input[type='email'] {
    border: 0;
    border-bottom: 1px solid rgb(180, 190, 203);
    /* extend the form inputs across the card */
    width: 100%;
    padding: 3px;
    font-size: 1rem;
}

/* remove border when clicking an input */
.contactform input:focus{
    outline: none;
}

/* add slant effect below aboutme section */
.aboutme::before,
.aboutme::after{
    /* NOTE: content is required for pseudo elements sudch as ::before */
    content:'';
    position: absolute;
    height: 100px;
    bottom: -90px;
    right: 0;
    left: 0;
    background:rgb(255, 255 , 255);
    transform: skewY(-2deg);

    /* add prefix versions of the above for compatibility w/ other browsers */
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);

}
/* Skills************************************************* */
.skills {
    padding-top: 120px;
}

.skills .skillsheading{
    font-size: 2rem;
    font-weight: bold;
}


/* projects */
.projects .projectsheading {
    font-size: 2rem;
    font-weight: bold;
}

.projects .grid span{
  font-size: 1.5rem;
  font-weight: bold;
}

/* center the footer paragraph */
footer p{
    /* max-width: 500px; */
    float: left;
    width: 100%;
    text-align: center;
}


.projectcard{
  position: relative;
  overflow: hidden;
  margin: 2rem;
  min-width: 10rem;
  max-width: 100rem;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.projectcard *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.projectcard footer {
    border-top: 1px solid rgba(0, 0, 0, 0.065);
    /* padding: 0 0; */
    font-size: 1rem;
    line-height: 3rem;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .projectcard img{
    max-width: 100%;
    vertical-align: top;
    position: relative;
}

  .tech{
      float: left;
  }

  .team{
      float:right;
  }


/* .tech .team{
    display: flex;
} */