/* style.css
    Programmer:     Joel Godinez
    
    Purpose:        Develop a resume website to showcase projects using Tailwind CSS and vanilla JavaScript

    Environment:    MacOS with Live Server extension

    Files included: index.html, style.css, script.js

    Estimates                Actuals
     Design: 2 hours          2.5 hours
     Implementation: 3 hours  4 hours(so far)
     Testing:        2 hours  1 hour(so far)


*/


/*body{
    background-color: purple;
}*/
